@charset "utf-8";
/* CSS Document */
.header_1_li_h3_3{
	color:#EBE4DE;
}
.header_1_nav_3 img{
	display: block;
}
.body_2{
	width: 1180px;
	padding: 10px;
	border: 1px solid #ac9f87;
	margin: 10px 0px;
}
.body_2 img{
	width: 1180px;
}
.body_2_body{
	/*左右横板*/
	display: flex;	
}
.body_2_body a{
	color: #7498E0;
	line-height: 22px;
}
.body_2_left{
	width: 799px;
	border-right: 1px solid #ac9f87;
}
.body_sec{
	width: 760px;
	margin-left: 20px;
	line-height: 25px;
	margin-bottom: 30px;
}
.body_sec a{
float: right;
padding: 10px;
}

.body_2_right{
	width: 400px;
}
.body_2_right nav{
	margin-left: 20px;
}
.body_2_right_ul h2{
	margin:10px 0px;
}
.body_2_right_ul li{
	list-style: none;
	margin-bottom: 5px;
}
.body_2_img_left{
	float: left;
	padding:10px 10px 10px 0px;
}
.body_2_img_center{
	display: block;
	margin: auto;
}
.body_2_img_right{
	float: right;
	padding:10px 0px 10px 10px;
}