@charset "utf-8";
/* CSS Document */
.header_1_li_h3_5{
	color:#EBE4DE;
}
.header_1_nav_5 img{
	display: block;
}
.body_2{
	width: 1180px;
	padding: 10px;
	border: 1px solid #ac9f87;
	margin: 10px 0px;
}
.body_2 img{
	width: 1180px;
}
.body_2_body{
	/*左右横板*/
	display: flex;	
}
.body_2_body a{
	color: #7498E0;
	line-height: 22px;
}
.body_2_left{
	width: 799px;
	border-right: 1px solid #ac9f87;
}
.body_sec{
	width: 760px;
	margin-left: 20px;
	line-height: 25px;
	margin-bottom: 30px;
	border-bottom: 1px solid #333;
}
.body_sec a,.body_sec img{
float: right;
padding: 10px;
}

.body_2_right{
	width: 400px;
}
.body_2_right nav{
	margin-left: 20px;
}
.body_2_right_ul h2{
	margin:10px 0px;
}
.body_2_right_ul li{
	list-style: none;
	margin-bottom: 5px;
}
.body_2_right img{
	width: 280px;
	display: block;
	margin: auto;
}


.body_2_form{
	width: 760px;
	margin-left: 20px;
}
.year{
	width: 45px;
}
.beizhu{
	width: 600px;
	height: 100px;
}
.btn{
	width: 36px;
	height: 25px;
	background-color: #fff;
	border:1px solid #666;
	margin-top: 4px;
}

/*==========以下部分是Validform必须的===========*/
.Validform_checktip{
	margin-left:8px;
	line-height:20px;
	height:20px;
	overflow:hidden;
	color:#999;
	font-size:12px;
}
.Validform_right{
	color:#71b83d;
	padding-left:20px;
	background:url(images/right.png) no-repeat left center;
}
.Validform_wrong{
	color:red;
	padding-left:20px;
	white-space:nowrap;
	background:url(images/error.png) no-repeat left center;
}
.Validform_loading{
	padding-left:20px;
	background:url(images/onLoad.gif) no-repeat left center;
}
.Validform_error{
	background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#CE0D46;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#ccc;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #bbb; border-top:none; text-align:left;}

/*==========以上部分是Validform必须的===========*/
